body {
  background-color: #f0f0f0;
  font-family: 'Segoe UI', sans-serif;
  color: #1E314A;
}

.container {
  padding: 1rem;
}

.macro-bar {
  height: 30px;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
  display: flex;
}

.macro {
  height: 100%;
}

.protein {
  background-color: #9c27b0; /* purple */
}

.fat {
  background-color: #ffca28; /* amber */
}

.carbs {
  background-color: #42a5f5; /* blue */
}



.macro-summary {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.macro-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.25rem;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
  background-color: white;
  border-radius: 0.5rem;
}

.macro-label {
  font-weight: 500;
  color: #555;
}

.macro-value {
  font-weight: 600;
  color: #222;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

.add-button {
  width: 56px;
  height: 56px;
  background-color: #1E314A;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 12px 24px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button:hover {
  background-color: #1E314A;
  transform: translateY(-2px);
}

.add-button:active {
  background-color: #1E314A;
  transform: translateY(0);
}
