// Color variables for the main banner gradient
$secondary-color: #232D4E;
$tertiary-color: #3B4883;

// Custom styles for the main banner
.main-banner {
  background: linear-gradient(to right, $secondary-color, $tertiary-color);
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
