<div class="banner ">
  Welcome, <span class="username">{{this.user.username}}!</span>
</div>

<div class="top-row">
  <div class="square-box donut-chart-container">
    <canvas id="macros-chart"></canvas>
  </div>
  <div class="square-box">
    <div class="inner-box">
      <div class="macro-value">Calories (kcal) {{this.calories  | number:'1.1-1' }}</div>
    </div>
    <div class="inner-box">
      <div class="macro-value protein-value">Protein (g) {{ this.protein | number:'1.1-1' }}</div>
    </div>
    <div class="inner-box">
      <div class="macro-value carbs-value">Carbs (g) {{ this.carbs | number:'1.1-1' }}</div>
    </div>
    <div class="inner-box">
      <div class="macro-value fats-value">Fats (g) {{ this.fats | number:'1.1-1' }}</div>
    </div>
  </div>
</div>

  <div class="profile-card">
    <h2 class="card-title">Weight History</h2>
    <div class="weight-chart">
      <canvas id="weight-chart"></canvas>
    </div>
  </div>
