<nav class="navbar top-bar">
  <div class="container-fluid">
    <button (click)="goBack()" aria-label="Go back" class="btn btn-back">
      <i class="bi bi-arrow-left"></i>
    </button>
    <h1 class="page-title">Add New Food</h1>
    <div></div> <!-- Empty div for flex spacing -->
  </div>
</nav>

<div class="search-results-container">
  <div class="card food-item-card">
    <div class="card-header">
      <h4 class="card-title">Food Details</h4>

      <div class="food-form">
        <div class="form-group">
          <label for="foodName">Name</label>
          <input [(ngModel)]="foodItem.name" class="form-control" id="foodName" placeholder="Enter food name" type="text">
        </div>

        <div class="form-group">
          <label for="foodWeight">Weight (g)</label>
          <input [(ngModel)]="foodItem.weight" class="form-control" id="foodWeight" min="1" placeholder="Enter weight" type="number">
        </div>

        <div class="form-group">
          <label for="foodCalories">Calories (kcal)</label>
          <input [(ngModel)]="foodItem.calories" class="form-control" id="foodCalories" min="0" placeholder="Enter calories" type="number">
        </div>

        <div class="form-group">
          <label for="foodProtein">Protein (g)</label>
          <input [(ngModel)]="foodItem.protein" class="form-control" id="foodProtein" min="0" placeholder="Enter protein" step="0.1" type="number">
        </div>

        <div class="form-group">
          <label for="foodCarbs">Carbohydrates (g)</label>
          <input [(ngModel)]="foodItem.carbs" class="form-control" id="foodCarbs" min="0" placeholder="Enter carbs" step="0.1" type="number">
        </div>

        <div class="form-group">
          <label for="foodFats">Fats (g)</label>
          <input [(ngModel)]="foodItem.fats" class="form-control" id="foodFats" min="0" placeholder="Enter fats" step="0.1" type="number">
        </div>
      </div>
    </div>
  </div>

  <div class="scan-bar">
    <button (click)="addFoodItem()" class="btn scan-button add-food-button">
      <i class="bi bi-plus-circle"></i>
      <span>Add Food Item</span>
    </button>
  </div>
</div>
