.container-fluid {
  background-color: #256A7A;
}

.nav-link{
  font-weight: bold;
  color: white;
}

.link{
    color: #FFFFFF;
    text-decoration: none;
  font-weight: bold;
  font-size: large;
}

.nav-item{
  padding: 5px;
}
