<div class="container">
  <h1 class="text-center">Profile</h1>
  <div class="row">
    <section class="col profile">
      <section class="profile-info">
        <div class="info"><strong>Username:</strong> {{user.username}}</div>
        <div class="info"><strong>Age:</strong> {{user.age}}</div>
        <div class="info"><strong>Weight:</strong> {{user.weight}}</div>
        <div class="info"><strong>Height:</strong> {{user.height}}</div>
        <div class="info"><strong>Gender:</strong> {{user.gender}}</div>
      </section>
      <section class="goals">
        <div class="weight-progress-bar">
          <div class="progress">
            <div class="progress-bar bg-info text-dark" style="width: 50%">50%</div>
          </div>
        </div>
      </section>
    </section>
  </div>
  <div class="row">
    <section class="col weight-chart">
      <canvas id="weight-chart"></canvas>
    </section>
  </div>
</div>
