<div class="container">
  <h1 class="text-center">Profile</h1>
  <div class="row">
    <section class="col profile">
      <section class="profile-info">
        <div class="info"><strong>Username:</strong> {{this.user.username}}</div>
        <div class="info"><strong>Age:</strong> {{this.user.age}}</div>
        <div class="info"><strong>Weight:</strong> {{this.user.weight}}</div>
        <div class="info"><strong>Height:</strong> {{this.user.height}}</div>
        <div class="info"><strong>Gender:</strong> {{this.user.gender}}</div>
      </section>
      <section class="goals">
        <div class="weight-progress-bar">
          <div>Weight lifted milestone</div>
          <div class="progress">

            <div class="progress-bar bg-info text-dark" style="width: 37%"></div>
          </div>
        </div>
      </section>
    </section>
  </div>
  <div class="row">
    <section class="col weight-chart">
      <canvas id="weight-chart"></canvas>
    </section>
  </div>
</div>
