.main-banner{
  display: flex;
  font-weight: bold;
  height: 20vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to right, #1E314A, #256A7A); /* Use the primary and secondary colors */
  color: white;
}

.row{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  margin-top: 10px;
}

.col{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 5px solid  #1E314A;
  background: linear-gradient(to right, #BB8A2E,#C5E4E9 );
  margin: auto;
  height: 20vh;
}

.login{
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 5px solid  #1E314A;
  background-color: #256A7A;
  padding: 0;
  height: 10vh;
  margin-top: 10px;
}

.register{
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 5px solid  #1E314A;
  background-color: #256A7A;
  padding: 0;
  height: 10vh;
  margin-top: 10px;
}
