.main-banner{
  margin: 0;
  height: 20vh;
  justify-content: center;
  align-content: center;
  background: linear-gradient(to right, #1E314A, #256A7A); /* Use the primary and secondary colors */
  color: #C5E4E9; /* Set the text color to the tertiary color for readability */
  padding: 20px; /* Adjust padding as needed */
}

.motto{

}
