
<div class="container text-center">
  <div class="">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="main-banner gradient-banner">
    <h1>
      FITForge
    </h1>

  </div>
  <div class="container text-center">
    <div class="row ">
      <div class="col">
        Explore the large variety of exercises available
        along with full instructions and documentation.
      </div>
      <div class="col">
        Save your workouts, exercises and follow your progress
        day by day.</div>
    </div>
    <div class="row ">
      <div class="col">
        Choose foods from a large library containing accurate
        nutritional values.
      </div>
      <div class="col">
        Whether you are looking to cut, bulk or maintain it can be easier
        tracking foods daily.
      </div>
    </div>
  </div>

  <div class="login">
    <a class="nav-link" href="#">Login</a>
  </div>
  <div class="register">
    <a class="nav-link" href="#">Register</a>
  </div>


</div>

