
<div class="container text-center">
  <h1>Food Data</h1>
  <div class="row">
    <table class="table">
      <tbody>
      <tr>
        <td class="macro-name">Name</td>
        <td>{{foodItem.name}}</td>
      </tr>
      <tr>
        <td class="macro-name">Weight</td>
        <td>{{foodItem.weight}}</td>
      </tr>
      <tr>
        <td class="macro-name">Calories (kcal)</td>
        <td>{{foodItem.calories}}</td>
      </tr>
      <tr>
        <td class="macro-name">Protein (g)</td>
        <td>{{foodItem.protein}}</td>
      </tr>
      <tr>
        <td class="macro-name">Carbohydrates (g)</td>
        <td>{{foodItem.carbs}}</td>
      </tr>
      <tr>
        <td class="macro-name">Fats (g)</td>
        <td>{{foodItem.fats}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
