<div class="container">
  <img src=""/>
  <h2>Change Password for {{username}}</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
    <div class="form-group">
      <label for="username">Old Password:</label>
      <input formControlName="oldPassword" id="oldPasword" name="oldPasword" type="password">
    </div>
    <div class="form-group">
      <label for="newPassword">New Password:</label>
      <input formControlName="newPassword" id="newPassword" name="newPassword" type="password">
    </div>
    <div class="form-group">
      <label for="newPassword">Confirm Password:</label>
      <input formControlName="newPasswordConfirmation" id="newPasswordConfirmation" name="newPasswordConfirmation" type="password">
    </div>
    <div *ngIf="changePasswordForm.get('newPassword')?.value !== changePasswordForm.get('newPasswordConfirmation')?.value" class="text-danger">
      Passwords do not match.
    </div>
    <button [disabled]="changePasswordForm.get('newPassword')?.value !== changePasswordForm.get('newPasswordConfirmation')?.value" class="btn" type="submit">
      Change
    </button>
    <button (click)="onCancel()" class="btn-cancel" type="submit">Cancel</button>
  </form>
  <simple-notifications></simple-notifications>
</div>

