/* Add your custom styles as needed */

.container {
  margin-top: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.foodItem {
  margin-bottom: 20px;
}

/* Customize card styling as needed */
.card-body {
  text-align: left;
}

.card-title{
  font-weight: bold;
  font-size: 20px;
}
