/* Add your custom styles as needed */

.container {
  margin-top: 20px;
}


.foodItem {
  margin-bottom: 20px;
}

/* Customize card styling as needed */
.card-body {
  text-align: left;
}

.card-title {
  font-weight: bold;
  font-size: 20px;
}

.row {
  margin-bottom: 20px;
}

.column1 {
  flex: 80%;
}

.column2 {
  margin-top: 5px;
  flex: 20%;
}
